html,
body,
#root {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #f7f7f7;
}

/* specify styles for To Do List and Toolbar container*/
.component_container {
  height: 100%; 
  max-width: 800px; 
  margin: 0 auto;
}

/* specify styles for To Do List container*/
.widget {
  height: calc(100% - 56px);
}
